# TF-IDF FROM SCRATCH

#### Steps:
* 1-) Word to index mapping
* 2-) Count Vectorizer (TF)
* 3-) IDF
* 4-) TF-IDF

In [18]:
import pandas as pd
import numpy as np
import nltk
from nltk import word_tokenize

In [19]:
df = pd.read_csv(r'data\bbc_text_cls.csv')
print(df.shape)
df.head(1)

(2225, 2)

                                                text    labels
0  Ad sales boost Time Warner profit\n\nQuarterly...  business

# 1-) Word to index mapping

#### pseudo-code
* Create a giant string by combining every data
* normalize them
* tokenize them
* use list(set(list())) and get unique elements map.

In [20]:
# 1-Normalization
#lower case
df['text'] = df['text'].str.lower()
#next line symbol
df['text'] = df['text'].str.replace(r'\n', ' ', regex=True)
#punctation
df['text'] = df['text'].str.replace(r'[^\w\s]', '', regex=True)
#numbers if exists
df['text'] = df['text'].str.replace(r'\d', '', regex=True)

In [21]:
#2-create a giant string

all_data_combined = ''

for text in df['text']:
    all_data_combined += text

print(len(all_data_combined))
print(all_data_combined[10:50])

4852665
oost time warner profit  quarterly profi

In [22]:
# 3-Tokenization
all_tokens = list(set(all_data_combined.split()))

print(len(all_tokens))
all_tokens[:10]

33517

['spend',
 'cashplusplayers',
 'societies',
 'bumps',
 'lci',
 'turnout',
 'especially',
 'scrappy',
 'credibility',
 'greensleeves']

# 2-) Count Vectorizer
* create data_count X len(all_token) sized zero matrix  
* +1 if the word exists for each layer.

In [23]:
len(df)

2225

In [24]:
df['text'] = df['text'].apply(lambda x : list(set(x.split())))

In [ ]:
tf = np.zeros((len(df['text']),len(all_tokens))) #zero matrix with list for easy use.

for text in df['text'][0]:
    for token in text:
        pass

In [ ]:
tf = [[0]*len(all_tokens)]*len(df)