In [32]:
import pandas as pd
import numpy as np
import nltk
from nltk.tokenize import word_tokenize
from nltk.tokenize.treebank import TreebankWordDetokenizer

In [33]:
df = pd.read_csv(f"../data/bbc_text_cls.csv")
print(df['labels'].value_counts())
df = df[df['labels'] == 'business']
print(df['labels'].value_counts())

labels
sport            511
business         510
politics         417
tech             401
entertainment    386
Name: count, dtype: int64
labels
business    510
Name: count, dtype: int64

In [34]:
df.drop(columns='labels', inplace=True)
df['text'] = df['text'].str.replace(r'\n', ' ', regex=True)
df['text'] = df['text'].str.replace(r'\s+', ' ', regex=True)
df.head()

                                                text
0  Ad sales boost Time Warner profit Quarterly pr...
1  Dollar gains on Greenspan speech The dollar ha...
2  Yukos unit buyer faces loan claim The owners o...
3  High fuel prices hit BA's profits British Airw...
4  Pernod takeover talk lifts Domecq Shares in UK...

In [35]:
def get_tokens(text):
    return word_tokenize(text.lower())

In [36]:
df['text_list'] = df['text'].apply(get_tokens)
df.head()

,text,text_list
0,Ad sales boost Time Warner profit Quarterly pr...,"[ad, sales, boost, time, warner, profit, quart..."
1,Dollar gains on Greenspan speech The dollar ha...,"[dollar, gains, on, greenspan, speech, the, do..."
2,Yukos unit buyer faces loan claim The owners o...,"[yukos, unit, buyer, faces, loan, claim, the, ..."
3,High fuel prices hit BA's profits British Airw...,"[high, fuel, prices, hit, ba, 's, profits, bri..."
4,Pernod takeover talk lifts Domecq Shares in UK...,"[pernod, takeover, talk, lifts, domecq, shares..."

In [37]:
#unique word list
word_set = set()

for text in df['text_list']:
    word_set.update(text)
idx2word = list(word_set)
idx2word.insert(0, '<UNKNOWN>')

word2idx = {word:i for i, word in enumerate(idx2word)}
print(len(word2idx))
print(list(word2idx.items())[0:5])

13532
[('<UNKNOWN>', 0), ('centres', 1), ('network', 2), ('2-3', 3), ('£29bn', 4)]

In [38]:
def word_numerizer(arr):
    return [word2idx.get(word, 0) for word in arr]

In [39]:
df['text_list_int'] = df['text_list'].apply(lambda x: word_numerizer(x))
df['text_list_int']

0      [3138, 11276, 5629, 2316, 8970, 3468, 7027, 59...
1      [6379, 13368, 1662, 8299, 7525, 1372, 6379, 36...
2      [1960, 9211, 1412, 2554, 2760, 5834, 1372, 572...
3      [12795, 8186, 2736, 8940, 8250, 12647, 594, 80...
4      [4525, 1557, 11712, 7571, 12704, 5183, 13296, ...
                             ...
505    [3911, 10252, 4693, 3814, 12647, 10743, 2070, ...
506    [8971, 11487, 9780, 9688, 6659, 6504, 1372, 89...
507    [4935, 5542, 4364, 1662, 3911, 1372, 13339, 10...
508    [10894, 4643, 3075, 8658, 1662, 12269, 6014, 1...
509    [4796, 11237, 7302, 4670, 9442, 12398, 2430, 9...
Name: text_list_int, Length: 510, dtype: object

In [40]:
# Prepare A1, A2 and pi

A2 = {}

for sentence in df['text_list_int']: 
    #A2
    for word_index in range(len(sentence)-2):
        #key
        current_word = sentence[word_index]
        second_word  = sentence[word_index+1]
        third_word   = sentence[word_index+2]

        keytuple = (current_word, third_word)

        if keytuple not in A2:
            A2[keytuple] = {}
            A2[keytuple][second_word] = 1                    
        else:
            if second_word not in A2[keytuple]:
                A2[keytuple][second_word]= 1
            else:
                A2[keytuple][second_word]+= 1

In [41]:
# Matrices as probabilities

# FOR pi
def calc_pi_probs(dict_):
    #1- Not using log probabilities. We need real probabilities
    #2- No smoothing (+1). Model will not use word combinations 
    # that never appeared in training test. 
    new_pi = {}
    total_count = 0
    for val in dict_.values():
        total_count += val

    for key, value in dict_.items():
        new_pi[key] = (value)/(total_count)
    return new_pi

# FOR A
def calc_A_probsprobabilities(dict_):
    new_A = {}
    
    for key in dict_.keys():
        new_pi = calc_pi_probs(dict_[key])
        new_A[key] = new_pi
    
    return new_A

In [42]:
A2_probs = calc_A_probsprobabilities(A2)

In [43]:
#article = df['text_list_int'][0]
#count = 0
#for i in range(1,len(article)-2):
#    
#    new_article = article.copy()
#    first_word = article[i]
#    second_word= article[i+1]
#    third_word = article[i+2]
#    search_key = (first_word, third_word)
#
#    if search_key in A2_probs:
#        new_second_word = int(np.random.choice([*A2_probs[search_key].keys()],p=[*A2_probs[search_key].values()]))
#        if second_word!=new_second_word:
#            count+=1
#        new_article[i+1] = second_word
#print(f"Number of words spinned: {count}")

In [47]:
def article_spinner(articleidx):

    article = df['text_list_int'][articleidx]
    count = 0
    new_article = article.copy()
    for i in range(len(article)-2):

        first_word = article[i]
        second_word= article[i+1]
        third_word = article[i+2]
        search_key = (first_word, third_word)

        if search_key in A2_probs:
            new_second_word = int(np.random.choice([*A2_probs[search_key].keys()],p=[*A2_probs[search_key].values()]))
            if second_word!=new_second_word:
                count+=1
            new_article[i+1] = new_second_word
    print(f"Number of words spinned: {count}")

    print("======ORIGINAL TEXT======")
    print(idx2word_generator(article))
    print("======SPINNED  TEXT======")
    print(idx2word_generator(new_article))


#def idx2word_generator(_text_list_int):
#    text = []
#    for i in range(len(_text_list_int)):
#        text.append(idx2word[_text_list_int[i]])
#    text = ' '.join(text)
#    return text

def idx2word_generator(_text_list_int):
    text_list = [idx2word[i] for i in _text_list_int]
    detokenizer = TreebankWordDetokenizer()
    return detokenizer.detokenize(text_list)

In [48]:
article_spinner(500)

Number of words spinned: 202
======ORIGINAL TEXT======
water firm suez in argentina row a conflict between the argentine state and water firm aguas argentinas, controlled by france's suez, is casting doubt on the firm's future . the firm, which serves the province of buenos aires, wants a tariff rise of 60% to fund water-supply improvements . the government has rejected the 60% rise and wants aguas argentinas to make an annual investment of 400m pesos ($136m; £72.3m) in improvements . planning minister julio de vido has offered state help but not for "free". mr de vido said that the argentine state would not make a contribution "in the form of a subsidy". he has said a contribution could be made in return for a seat on the company's board . he added that the government is in discussions with aguas argentinas about what role it might take in the event that a state contribution is agreed . however, aguas argentinas told the argentine newspaper clarin it would not accept any change to its legal structure and, in practice, this rules out state participation on its board . the planning minister didn't rule out the possibility of cancelling aguas argentinas water concession . yet he added that he didn't like to do "futurology". but last week, argentine economic minister, roberto lavagna, told the french media in paris that the government was considering allowing a 16% increase in tariffs and the possibility of a state contribution to aguas argentinas infrastructure investments . speaking in buenos aires, mr de vido later denied the possibility of any tariff increase and insisted that the annual investment in water infrastructure was at the centre of the discussions . he added that in the coming weeks the future of aguas argentinas would be decided . suez owns 40% of aguas argentinas (39.9%), while spain's aguas de barcelona is its second biggest shareholder with 25.01% . recently, suez lost a water concession in bolivia after mass protests in the city of el alto (the poorest in the country), with citizens complaining of unfair water charges . this forced the government to cancel the contract . in argentina, suez's subsidiary, which has been fined for cutting the supply of water during a recent heat wave and allegedly failing to keep up investment to meet the demand for water, has maintained a tense relationship with the argentine government . during the last financial crisis in argentina, the firm sued the state alleging that converting its tariffs from us dollars to pesos, and then freezing them during devaluation, had affected the company and made it difficult for it to meet its contractual obligations . when president nestor kirchner of argentina arrived in power he began to negotiate a solution to the disagreements with international utilities operating in argentina . but he has rejected any tariff increases, alleging this will impoverish citizens further . he has also asked for more investments to meet the growing demand for water . on may 2004, aguas argentinas and the government signed an agreement to renegotiate its buenos aires water-concession contract . the firm agreed to invest 242m pesos . the issue has attracted european interest . last week in paris, president kirchner discussed this problem and other issues with french president jacques chirac . the argentine government is also under pressure from european union countries and the international monetary fund (imf) to raise utilities tariffs, because most of the utilities operating in argentina are european.
======SPINNED  TEXT======
water firm interested in a row a feud with the true society and the firm aguas argentinas, led by electrolux's shareholders, is casting doubt on his ministry's £4.29m of the euro, which benefits the payment of buenos aires, said a large rise of 5.2% to fund water-supply improvements in the firm has said the 3.3%, and wants aguas argentinas to make an annual profit of 400m euro ($14.4bn; £3.9bn) in 2005 . prime minister julio de vido has offered state help but calls for "measured trade said rodrigo de vido said . the chinese state would not give a so-called "clearly the association of a sense". jet also reported a decision could be made in exchange to a deal on his company's troubles . he said that the firm agency in line with aguas argentinas about what role it will take in the time, direct strong contribution is successful . otherwise, aguas argentinas and the kommersant newspaper clarin it would not make any change to its dual-ownership structure and vauxhall in january, new rules out state participation on the debt following the prime minister did not rule out the outcome of cancelling aguas argentinas water charges . but he said that it isn't want to be "significant"." last week, and economic growth, roberto lavagna, including the french media in presuming that the philosopher was considering if a 20% fall in oil and the administration that russian state contribution to aguas argentinas infrastructure investments . "in buenos aires, mr de vido later in the use of any tariff increase and waves that the us income in water infrastructure was twice the basis of the summit . he added that values the past to the production of aguas argentinas would be resold . fiat owns 55% of aguas argentinas (15% growth, while germany's aguas de barcelona is the second biggest shareholder with 25.01% . indonesia, suez lost a water concession in 2003 after mass protests until the failure of el alto (the slowest in our law) deal with citizens complaining of bottled water concession . this suggests the case to get the slack . yesterday january, france's suzuki, who have been fined for only the destruction of oil during a recent heat wave and allegedly failing to sign up investment to ask growing ipo for obesity, has overseen a strained relationship with the russian government . but the us financial year in policy, the companies sued the state alleging that converting its business from us companies to invest, and then freezing them during 2004, had until the dollar once ran it hard for exports to reduce its contractual obligations . egyptian president nestor kirchner of argentina arrived in 2002. he planned to launch a bid . the deficit with international utilities operating in check ." he has rejected any tariff increases, alleging this will impoverish citizens". china has been called for more investments to emulate the extra demand for months . you may 2004, aguas argentinas told the government signed an attempt to meet its buenos aires water-concession contract for the sec sold to invest 242m pesos . the euro has attracted european countries . last week in jakarta, president kirchner, this year and ethical companies with french president jacques chirac . the us government is buckling under charter from european union leaders around the international monetary fund (£21bn) to raise utilities tariffs, holds most of the utilities operating in argentina are changing.

In [49]:
article_spinner(100)

Number of words spinned: 137
======ORIGINAL TEXT======
australia rates at four year high australia is raising its benchmark interest rate to its highest level in four years despite signs of a slowdown in the country's economy . the reserve bank of australia lifted interest rates 0.25% to 5.5%, their first upwards move in more than a year . however, shortly after the bank made its decision, new figures showed a fall in economic growth in the last quarter . the bank said it had acted to curb inflation but the move was criticised by some analysts . the rate hike was the first since december 2003 and had been well-flagged in advance . however, opposition parties and some analysts said the move was ill-timed given data showing the australian economy grew just 0.1% between october and december and 1.5% on an annual basis . the figures, representing a decline from the 0.2% growth in gdp seen between july and september, were below market expectations . consumer spending remains strong, however, and the bank is concerned about growing inflationary pressures . "over recent months it has become increasingly clear that remaining spare capacity in the labour and goods markets is becoming rather limited," said ian macfarlane, governor of the reserve bank . at 2.6%, inflation remains within the bank's 2-3% target range . however, exports declined in the second half of 2004, fuelling a rise in the country's current account deficit - the difference in the value of imports compared to exports - to a record australian dollar 29.4bn . the australian government said the economy remained strong with unemployment at a near 30 year low . "the economy has been strong and it is properly moderating but it doesn't look to me like it's slowing in any unreasonable way," said treasurer peter costello . stock markets had factored in the likelihood of a rate rise but analysts still expressed concern about the strength of the economy . "that 1.5% annual growth rate is the lowest we have seen since the post-election slump we saw back in 2000-1," said michael blythe, chief economist at the commonwealth bank of australia . "this suggests the economy really did slow very sharply in the second half of 2004."
======SPINNED  TEXT======
australia rates at four year high australia is pinning its benchmark interest rates to its current level in 50 years despite hopes of a rise in the country's assets in the reserve bank of australia lifted interest rates 0.25% to 80% saw the first upwards move in more than a head . however, named after the group researched the chairman, latest find - a rise in annual growth for the first month . the firm said cnpc had strengthened to keep inflation, the move was driven by some customers said any rate hike was the highest since november, and has been hurt in madrid . however, opposition parties and some observers said the move was ill-timed given data from the stable economy grew just 2% in 80,000 and brown and 10.9% from an annual budget of the us, and a denial - the 47.3% fall in media seen between 7,000 and organisations, slightly below the dynamics . consumer spending remains poor, hotels, but canal group remains confident about growing inflationary pressures . worries over recent months, has become increasingly clear that remaining spare capacity in the us and goods markets is becoming rather limited," said ian mccafferty, thousands of the central bank . at 4.6%, it remains and the ukraine's 4% target range . however, exports cheaper in the first half of basf, in a fall in the world's current account deficit - the slump between the top of 2004 widened to subsidies - obscured a record australian dollar 29.4bn . the chinese government is the company was strong with anger at arese near 30 year profits . "the dollar has enjoyed suffered that this is properly moderating but it didn't conducive to risks like macy's interests in any unreasonable way," said treasurer peter costello . stock markets had role in the transfer of interest rate rise but could still expressed concern over the face of the world had firms that 90% gdp inflation rate is the what we've seen in the post-election slump we saw back in fact," said michael cherkasky, chief economist . the central bank of collapse ." it forced the economy really did slow very sharply . the first half of cash."