In [14]:
import pandas as pd
import numpy as np
import re

In [15]:
df = pd.read_csv(f"../data/bbc_text_cls.csv")
print(df['labels'].value_counts())
df = df[df['labels'] == 'business']
print(df['labels'].value_counts())

labels
sport            511
business         510
politics         417
tech             401
entertainment    386
Name: count, dtype: int64
labels
business    510
Name: count, dtype: int64

In [16]:
def get_data(TXT_DIR):
    line_list = []
    TXT_DIR = "../"+TXT_DIR
    with open(TXT_DIR, 'r', encoding='utf-8') as file:
        for line in file:
            #normalization
            line = line.strip()
            line = line.lower()
            line = re.sub(r'[^\w\s]', '', line) #substitute (replace)
            line = re.sub(r'\d', '', line)
            if line != "":
                tokens = line.split()
                line_list.append(tokens) #Markov models want this format. 
    return line_list

In [17]:
df.drop(columns='labels', inplace=True)
df.head()

                                                text
0  Ad sales boost Time Warner profit\n\nQuarterly...
1  Dollar gains on Greenspan speech\n\nThe dollar...
2  Yukos unit buyer faces loan claim\n\nThe owner...
3  High fuel prices hit BA's profits\n\nBritish A...
4  Pernod takeover talk lifts Domecq\n\nShares in...

In [18]:
df['text'] = df['text'].str.lower()
df['text'] = df['text'].str.replace(r'\n', ' ', regex=True)
df['text'] = df['text'].str.replace(r'[^\w\s]', '', regex=True)
df['text'] = df['text'].str.replace(r'[\d]', '', regex=True)
df.head()

                                                text
0  ad sales boost time warner profit  quarterly p...
1  dollar gains on greenspan speech  the dollar h...
2  yukos unit buyer faces loan claim  the owners ...
3  high fuel prices hit bas profits  british airw...
4  pernod takeover talk lifts domecq  shares in u...